# Node
frontend/node_modules
frontend/dist
frontend/.vite
frontend/.turbo
frontend/.eslintcache

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS
.DS_Store
.vscode/
.idea/

# Env
*.env
**/.env
backend/.env
frontend/.env

# Python/Poetry
__pycache__/
*.pyc
.poetry/
.mypy_cache/
.pytest_cache/

# Build artifacts
dist/
build/
